@import './bootstrap.min.css';

:root {
  --c-bg-dark: #07060E;
  --c-bg-muted: #140F19;

  --c-text-light: #F7E897;
  --c-text-muted: #D3BA78;

  --c-input-bg: #2b262f;
}

#app {
  background-color: var(--c-bg-dark);
}

.nav {
  background-color: var(--c-bg-muted);
}